@charset "UTF-8";
.modal-btn--submit, .contacts-btn, .btn--light-mode, .btn--dark-mode {
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
}

.modal-btn--submit, .contacts-btn {
  display: block;
  padding: 12px 38px;
}

.online-btn {
  padding: 12px 20px;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

/* Палітра кольорів */
/* main text color -  #555555;
secondary text color - #9DA4BD;
title color - #303030;
accent color - #FF6C00
background-color: #FFFFFF*/
:root {
  --text-color: #555555;
  --secondary-text-color: #9da4bd;
  --title-color: #303030;
  --accent-color: #ff6c00;
  --background-color: #ffffff;
  --secondary-background-color: #f7f7f7;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
}

.no-scroll {
  overflow: hidden;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-right: 31px;
    padding-left: 31px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 39px;
    padding-left: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.about-paragraph::before,
.features-subtitle::before,
.team-subtitle::before,
.portfolio-text::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--title-color);
}

.price-subtitle::before,
.hero-subtitle::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.visuaaly-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: none;
}
.header.no-transparency {
  background-color: rgba(25, 28, 38, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 70px;
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list__item {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--background-color);
}
.nav-list__item:not(:last-child) {
  margin-right: 40px;
}

.current {
  position: relative;
  color: var(--accent-color);
}

.nav-list__link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}
.nav-list__link.current::after {
  position: absolute;
  bottom: 20px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.tlf {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  margin-right: 40px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--background-color);
}
.tlf:hover, .tlf:focus {
  color: var(--accent-color);
}

.btn--dark-mode {
  max-width: 200px;
  height: 40px;
  color: #ffffff;
}

.online-btn:hover, .online-btn:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-section {
  /* outline: 1px solid red; */
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/hero-bg-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: right center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../images/hero-bg-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url(../images/hero-bg-tablet@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../images/hero-bg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: url(../images/hero-bg-desktop@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../images/hero-bg-desktop@2x.jpg);
  }
}

.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-side {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100px;
}
@media screen and (max-width: 767px) {
  .left-side {
    display: none;
  }
}

.hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-transform: rotate(-90deg) translateY(27px);
          transform: rotate(-90deg) translateY(27px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.hero-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--title-color);
}

.hero-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-color);
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.hero-list__link:hover, .hero-list__link:focus {
  color: var(--accent-color);
}

.right-side {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;
}
@media screen and (max-width: 767px) {
  .right-side {
    padding-top: 208px;
    padding-bottom: 183px;
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .right-side {
    padding-left: 120px;
    padding-bottom: 245px;
  }
}

.hero-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: var(--background-color);
}
@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 48px;
    line-height: 1.1666666667;
  }
}

.hero-text {
  width: 500px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 1199px) {
  .hero-text {
    font-size: 16px;
    line-height: 1.625;
    max-width: 306px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-text {
    max-width: 355px;
  }
}

.pagination {
  position: absolute;
  top: 50%;
  right: 0;
}
@media screen and (max-width: 767px) {
  .pagination {
    display: none;
  }
}

.pagination__item {
  margin-left: auto;
  margin-bottom: 12px;
  width: 8px;
  height: 2px;
  background-color: var(--secondary-text-color);
}
.pagination__item:last-child {
  margin-bottom: 0;
}
.pagination__item.active {
  width: 18px;
  background-color: var(--background-color);
}

.hero-slider {
  position: absolute;
  right: 0;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}
@media screen and (max-width: 767px) {
  .hero-slider {
    display: none;
  }
}

.hero-controls {
  width: 60px;
  padding: 0;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-align: left;
  color: rgba(157, 164, 189, 0.6);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  cursor: pointer;
}
.hero-controls.active {
  color: var(--background-color);
  border-bottom: 1px solid var(--background-color);
  text-align: right;
}

@media screen and (max-width: 767px) {
  .about-section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
@media screen and (min-width: 768px) {
  .about-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about-section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.container--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: block;
    width: 330px;
  }
}
@media screen and (max-width: 1199px) {
  .about-list {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 64px;
    -ms-flex-preferred-size: 570px;
        flex-basis: 570px;
  }
}

@media screen and (max-width: 1199px) {
  .about-list__item:nth-child(1) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list__item:nth-child(1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about-container {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
  }
}

.about-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
}

.about-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
  color: #303030;
}
@media screen and (min-width: 1200px) {
  .about-title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.about-subtitle {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .about-subtitle {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-text {
  margin-bottom: 40px;
}

.btn--light-mode {
  color: var(--title-color);
}

.price-section {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #191c26;
}
@media screen and (max-width: 767px) {
  .price-section {
    padding-top: 84px;
    padding-bottom: 84px;
    background-image: url(../images/price/price-bg-mobile@1x.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .price-section {
    background-image: url(../images/price/price-bg-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .price-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/price/price-bg-tablet@1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price-section {
    background-image: url(../images/price/price-bg-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .price-section {
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url(../images/price/price-bg-desktop@1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .price-section {
    background-image: url(../images/price/price-bg-desktop@2x.png);
  }
}

.price-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.price-title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--background-color);
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .price-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.price-list__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 30px 40px;
}
@media screen and (max-width: 1199px) {
  .price-list__item:nth-child(1) {
    padding-bottom: 0;
  }
  .price-list__item:nth-child(2) {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .price-list__item:nth-child(1) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .price-list__item:nth-child(2) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-text {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.price-text:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (max-width: 479px) {
  .price-text {
    font-size: 14px;
    line-height: 2.1428571429;
  }
}

.price-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.container--features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .container--features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 370px;
}
@media screen and (max-width: 1199px) {
  .features-list {
    margin-top: 44px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    margin: 0 auto;
  }
}

.features-list__item {
  width: 170px;
  height: 133px;
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
}
.features-list__item:nth-child(2n+1) {
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list__item {
    width: 210px;
  }
}

.features-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-color);
}
.features-number::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.features-explain {
  margin: 0 auto;
  height: 30px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .features--right-side {
    width: 500px;
  }
}

.features-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-title {
  margin-bottom: 20px;
  width: 420px;
  height: 98px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.features-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.team-section {
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container--team {
    padding-right: 159px;
    padding-left: 159px;
  }
}

.team-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
}

.team-title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 34px;
  }
}

.staff-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.staff-name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.staff-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.social-list__link:hover, .social-list__link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social-list__link:hover .social-icon,
.social-list__link:focus .social-icon {
  fill: var(--accent-color);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social-icon {
  width: 20px;
  height: 20px;
  -webkit-transition: fill 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: fill 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: fill 300ms ease-in-out, transform 300ms ease-in-out;
  transition: fill 300ms ease-in-out, transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.social-list__link:hover .social-icon, .social-list__link:focus .social-icon {
  fill: var(--accent-color);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.portfolio-list__item {
  position: relative;
  overflow: hidden;
}
.portfolio-list__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

.overlay-text {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--background-color);
}

.contacts-section {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  background-color: #191c26;
  background-image: url(../images/contacts-bg/contacts-bg-mobile@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 100% left 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts-bg/contacts-bg-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .contacts-section {
    background-image: url(../images/contacts-bg/contacts-bg-tablet@1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts-bg/contacts-bg-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section {
    background-image: url(../images/contacts-bg/contacts-bg-desktop@1x.png);
    background-position: top 0 left 100%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts-bg/contacts-bg-desktop@2x.png);
  }
}

.container--contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .container--contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 168px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .container--contacts {
    gap: 200px;
  }
}

.contacts-left-side {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contacts-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .contacts-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 44px;
  }
}

.contacts-form-group {
  position: relative;
}
@media screen and (min-width: 768px) {
  .contacts-form-group:first-child {
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
  }
  .contacts-form-group:last-child {
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-form-group:first-child {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
  .contacts-form-group:last-child {
    -ms-flex-preferred-size: 260px;
        flex-basis: 260px;
  }
}

.contacts-form-input {
  display: block;
  padding: 8px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-size: 12px;
  color: var(--background-color);
  background-color: transparent;
}
.contacts-form-input::-webkit-input-placeholder {
  color: transparent;
}
.contacts-form-input::-moz-placeholder {
  color: transparent;
}
.contacts-form-input:-ms-input-placeholder {
  color: transparent;
}
.contacts-form-input::-ms-input-placeholder {
  color: transparent;
}
.contacts-form-input::placeholder {
  color: transparent;
}
.contacts-form-input:focus::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.contacts-form-input:focus::-moz-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.contacts-form-input:focus:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.contacts-form-input:focus::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.contacts-form-input:focus::placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.contacts-form-input:focus {
  outline: none;
  border-bottom: 1px solid var(--background-color);
}

.contacts-form-input:not(:-moz-placeholder-shown) + .contacts-form-label {
  transform: translateY(-20px);
  color: var(--background-color);
}

.contacts-form-input:not(:-ms-input-placeholder) + .contacts-form-label {
  transform: translateY(-20px);
  color: var(--background-color);
}

.contacts-form-input:focus + .contacts-form-label,
.contacts-form-input:not(:placeholder-shown) + .contacts-form-label,
.contacts-form-message:focus + .contacts-form-label {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  color: var(--background-color);
}

.contacts-form-label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  color: rgba(157, 164, 189, 0.4);
}

.contacts-form-message {
  width: 100%;
  margin-bottom: 44px;
  font-size: 12px;
  color: var(--background-color);
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  resize: none;
}
.contacts-form-message:focus {
  outline: none;
  border-bottom: 1px solid var(--background-color);
}
@media screen and (min-width: 1200px) {
  .contacts-form-message {
    width: 560px;
  }
}

.contacts-btn {
  color: #ffffff;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
@media screen and (max-width: 767px) {
  .contacts-btn {
    margin-right: auto;
    margin-left: auto;
  }
}
.contacts-btn:hover, .contacts-btn:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .contacts-right-side {
    padding-left: 100px;
  }
}

.contacts-title {
  margin-bottom: 40px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--background-color);
}
@media screen and (max-width: 767px) {
  .contacts-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container--address-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .container--address-time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container--address {
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container--time {
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
  }
}

.address-list {
  font-style: normal;
}

.address-list__item {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.address-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.address-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
}

.contacts-icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 44px;
  }
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--background-color);
}
.time::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.4);
}

.time-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 767px) {
  .footer-text {
    margin-top: 20px;
    margin-right: 20px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .footer-list {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.footer-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--title-color);
}

.footer-list__item:not(:last-child) {
  margin-right: 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
  transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  min-height: 500px;
  padding: 40px 30px;
  background-color: var(--background-color);
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal-btn--close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.modal-btn--close:hover, .modal-btn--close:focus {
  background-color: var(--accent-color);
}

.modal-icon {
  width: 15px;
  height: 15px;
}

.modal-btn--submit {
  margin-right: auto;
  margin-left: auto;
  color: var(--title-color);
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.modal-btn--submit:hover, .modal-btn--submit:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.form-title {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.modal-form-group {
  position: relative;
}
.modal-form-group:not(:last-child) {
  margin-bottom: 12px;
}

.modal-form-label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  padding-left: 5px;
}

.modal-form-input,
.modal-form-comment {
  width: 100%;
  border: 1px solid #ff6c00;
  padding: 10px;
  padding-left: 50px;
  border-radius: 5px;
  outline: transparent;
}

.form-icon {
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
}

.modal-form-comment {
  padding-left: 15px;
  resize: none;
}

.checkbox-input:checked + .checkbox-agreement .checkbox-icon {
  fill: var(--accent-color);
  opacity: 1;
}

.checkbox-input:checked + .checkbox-agreement .checkbox--uncheck {
  border-color: var(--accent-color);
}

.checkbox--uncheck {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border: 2px solid var(--title-color);
  border-radius: 5px;
  -webkit-transition: border-color 250ms ease-in-out;
  transition: border-color 250ms ease-in-out;
}

.checkbox-icon {
  opacity: 0;
  width: 20px;
  height: 20px;
  -webkit-transition: fill 250ms ease-in-out, opacity 250ms ease-in-out;
  transition: fill 250ms ease-in-out, opacity 250ms ease-in-out;
}

.link-agreement {
  color: var(--accent-color);
  text-decoration: underline;
}

.checkbox-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}/*# sourceMappingURL=main.css.map */