.right-side {
  // outline: 1px solid tomato;
  position: relative;
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;

  @media screen and (max-width: 767px) {
    padding-top: 208px;
    padding-bottom: 183px;
    padding-left: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 120px;
    padding-bottom: 245px;
  }
}

.hero-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;

  color: var(--background-color);

  @media screen and (max-width: 1199px) {
    font-size: 48px;
    line-height: calc(56 / 48);
  }
}

.hero-text {
  width: 500px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  @media screen and (max-width: 1199px) {
    font-size: 16px;
    line-height: calc(26 / 16);
    max-width: 306px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 355px;
  }
}