.btn--dark-mode {
  max-width: 200px;
  height: 40px;

  @extend %button;

  color: #ffffff;
}

.online-btn {
  @extend %online-btn;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    cursor: pointer;
  }
}
