.btn--dark-mode {
  max-width: 200px;
  height: 40px;

  @extend %button;

  color: #ffffff;
}

.online-btn {
  @extend %online-btn;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    cursor: pointer;
  }
}

.header-btn {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  
  &:hover,
  &:focus {
    cursor: pointer;
    .menu-btn__icon {
      fill: var(--accent-color);
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-btn__icon {
  fill: var(--background-color);
  transition: fill 250ms ease-in-out;
}