.tlf {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  margin-right: 40px;

  transition: color 300ms ease-in-out;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--background-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
