.logo {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-right: 64px;
    padding-left: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 72px;
  }
}