.container--features {
  display: flex;
  
  @media screen and (max-width: 1199px) {
    flex-direction: column-reverse;
  }
}

.features-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 370px;

  @media screen and (max-width: 1199px) {
    margin-top: 44px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
      align-self: flex-end;
      width: 450px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 auto;
  }
}

.features-list__item {
  width: 170px;
  height: 133px;
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;

  &:nth-child(2n + 1) {
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width:1199px) {
  width: 210px;
}
}

.features-number {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--title-color);

  &::after {
  content: "\002B";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}
}

.features-explain {
  margin: 0 auto;
  // width: 122px;
  height: 30px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--title-color);
}