.contacts-btn {
  @extend %submit-btn;

  @extend %button;

  color: #ffffff;
  transition: background-color 250ms ease-in-out;

  @media screen and (max-width: 767px) {
    margin-right: auto;
  margin-left: auto;
  }

  &:hover,
  &:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}
}
