.contacts-btn {
  @extend %submit-btn;

  @extend %button;

  color: #ffffff;
  transition: background-color 250ms ease-in-out;

  &:hover,
  &:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}
}
