.contacts-right-side {
  @media screen and (min-width: 1200px) {
  padding-left: 100px;
  }
}

.contacts-title {
  margin-bottom: 40px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--background-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.container--address-time {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;

    @media screen and (min-width: 1200px) {
      flex-direction: column;
      gap: 70px;
    }
  }
}

.container--address {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 330px;
  }
  
}

.container--time {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: 330px;
  }
}

.address-list {
  font-style: normal;
}

.address-list__item {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  &:not(:last-child) {
  margin-bottom: 20px;
}
}

.address-list__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.contacts-icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.address {
  
  @media screen and (max-width: 767px) {
    margin-bottom: 44px;
  }

}