.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.container--footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color);

  @media screen and (max-width: 767px) {
    margin-top: 20px;
  margin-right: 20px;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    align-self: flex-start;
  }

  &::before {
  @include before(40px);
  background-color: var(--title-color);
}
}

.footer-list__item:not(:last-child) {
  margin-right: 40px;
}