.team-section {
  background-color: var(--secondary-background-color);
}

.container--team {
  @media screen and (min-width: 768px) and (max-width:1199px) {
    padding-right: 159px;
    padding-left: 159px;
  }
}

.team-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);
}

.team-title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.team-list {

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.team-list__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 34px;
  }
}